$footer-bg-color: $gray-200;
$footer-color: $body-color;
$footer-padding: 30px 0;
$footer-text-size: rem(16px);

.page-footer {
  padding: $footer-padding;
  font-size: $footer-text-size;
  background: $footer-bg-color;
  color: $footer-color;

  &__nav {}

  &__social {}

  &__copyright {}
}