@font-face {
    font-family: 'Abyssopelagic';
    src: url('../dist/fonts/Abyssopelagic.woff2') format('woff2'),
         url('../dist/fonts/Abyssopelagic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aqua Grotesque';
    src: url('../dist/fonts/AquaGrotesque.woff2') format('woff2'),
         url('../dist/fonts/AquaGrotesque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Coves';
    src: url('../dist/fonts/CovesBold.woff2') format('woff2'),
         url('../dist/fonts/CovesBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Coves';
    src: url('../dist/fonts/CovesLight.woff2') format('woff2'),
         url('../dist/fonts/CovesLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moon';
    src: url('../dist/fonts/MoonBold.woff2') format('woff2'),
         url('../dist/fonts/MoonBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Moon';
    src: url('../dist/fonts/MoonLight.woff2') format('woff2'),
         url('../dist/fonts/MoonLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  